.unione-template-item table.nl-container {
  border: none;
}

.unione-template-item table.nl-container:focus {
  outline: none;
}

.unione-template-item table.nl-container tr td table.row,
.unione-template-item table.nl-container table.row table.row-content {
  margin-top: 0;
  margin-bottom: 0;
}

.unione-template-item table.nl-container tbody,
.unione-template-item table.nl-container tr,
.unione-template-item table.nl-container td {
  border: none;
  margin: 0;
}

.unione-template-item table.nl-container tbody:focus,
.unione-template-item table.nl-container tr:focus,
.unione-template-item table.nl-container td:focus {
  outline: none;
}

.unione-template-item table.nl-container * {
  pointer-events: none;
}
